body {
	color: black;
	background-color: white; 
	font-family: "Book Antiqua", "Times New Roman", "Times", serif;
	padding: 2em;
}

table.header th {
	text-align: right;
	padding-right: 1em;
	vertical-align: top;
}

table.references th {
	text-align: right;
	padding-right: 1em;
}

table.references td a {
	color: black;
	font-style: oblique;
	text-decoration: none;
}

table.references td a:hover {
	text-decoration: underline;
}

